/* Global */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #111;
}

/* Buttons */
button.full-width {
  width: 100%;
  border: 2px solid #333;
  background: none;
  padding: 18px 10px;
  border-radius: 15px;
  cursor: pointer;
}

/* Checkbox */
input[type="checkbox"] {
  border: 1px solid #333;
  width: 15px;
  height: 15px;
}

/* Fonts */
h1 {
  font-size: 1rem;
}

li, p, button {
  font-size: .8rem;
}

/* Header */
header {
  padding: 18px 20px;
  position: relative;
  border-bottom: 2px solid #333;
}

header h1 {
  font-size: 1rem;
  text-align: center;
}

header svg {
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Nav */
nav {
  background: #f1f1f1;
  padding: 12px 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li.active {
  border-bottom: 2px solid #bbb;
}

/* My Calendar */
section.my-calendar {
  padding: 18px 10px;
}

/* My Calendar Tabs */
ul.my-calendar-tabs {
  display: flex;
  justify-content: space-around;
}

ul.my-calendar-tabs li {
  border: 2px solid #333;
  border-radius: 20px;
  padding: 5px 10px;
}

ul.my-calendar-tabs li.active {
  background: #f1f1f1;
}

/* Today's Tasks */
section.todays-tasks {
  padding: 18px 0;
}

ul.task-card li {
  padding: 18px 15px;
  background: #f1f1f1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

ul.task-card li {
  margin-bottom: 12px;
}

ul.task-card li:last-of-type {
  margin-bottom: 0;
}

section.todays-tasks button.add-more-plants {
  margin-top: 12px;
}