/* Contents */
/* -------- */
/* Global */
/* Buttons */
/* Checkbox */
/* Fonts */
/* Line Break */
/* Header */
/* Nav */
/* My Calendar */
/* My Calendar Tabs */
/* Today's Tasks */
/* Upcoming Tasks */
/* My Plants */
/* Edit And Log */
/* New Log */
/* Log History */
/* Edit Tasks */
/* Task Frequency */
/* Add Tasks */
/* Edit and Log - remove button and more info button */
/* View All Plants */
/* AddPlants Button */
/* Search For a Plant */
/* Sort Plants */
/* Filter Plants */
/* Plant Cards */
/* Pagination */
/* Toggle Visibility */
/* Login Form */
/* -------- */

/* Global */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #111;
  box-sizing: border-box;
}

/* Buttons */
button {
  cursor: pointer;
}

button.full-width {
  width: 100%;
  border: 2px solid #333;
  background: none;
  padding: 18px 10px;
  border-radius: 15px;
}

button.plain-text {
  background: none;
  border: none;
  border-bottom: 2px dotted #333;
}

button.logout {
  padding: 5px;
}

button.login {
  width: 100%;
  padding: 18px 10px;
  background: #333;
  color: white;
  border: none;
  border-radius: 4px;
}

button.form {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background: #333;
  color: white;
}

/* Checkbox */
input[type="checkbox"] {
  border: 2px solid #333;
  width: 15px;
  height: 15px;
}

/* Fonts */
h1 {
  font-size: 1rem;
}

h2 {
  font-size: 1rem;
}

li,
p,
button,
label {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

/* Line Break */
.line-break {
  width: 100%;
  height: 1px;
  background: #999;
}

/* Header */
header {
  padding: 18px 20px;
  position: relative;
  border-bottom: 2px solid #333;
}

header h1 {
  font-size: 1rem;
  text-align: center;
}

header svg {
  font-size: 2rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

header button {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* Nav */
nav {
  background: #f1f1f1;
  padding: 12px 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li.active {
  border-bottom: 2px solid #bbb;
}

/* Network Status */

.NetworkStatus {
  margin: 0px auto -10px auto;
  text-align: center;
}

/* Loading */

.p-loading-status {
  margin: 15px 5px;
  font-size: 1rem;
}

/* My Calendar */
section.my-calendar {
  padding: 18px 10px;
}

/* My Calendar Tabs */
ul.my-calendar-tabs {
  display: flex;
  justify-content: space-around;
}

ul.my-calendar-tabs li {
  border: 2px solid #333;
  border-radius: 20px;
  padding: 5px 10px;
}

ul.my-calendar-tabs li.active {
  background: #f1f1f1;
}

ul.task-cards li {
  padding: 18px 15px;
  background: #f1f1f1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: center;
}

ul.task-cards li a {
  margin-left: auto;
  cursor: pointer;
}

ul.task-cards li:last-of-type {
  margin-bottom: 0;
}

/* Today's Tasks */
section.todays-tasks {
  padding: 18px 0;
}

section.todays-tasks input[type="checkbox"] {
  margin-top: 4px;
  margin-right: 10px;
}

section.todays-tasks button.add-more-plants {
  margin-top: 12px;
}

/* Upcoming Tasks */
section.upcoming-tasks {
  padding: 18px 0;
}

section.upcoming-tasks ul li h2 {
  margin-block: 0.6rem;
}

/* My Plants */
section.my-plants {
  margin: 18px 15px;
}

ul.my-plants-cards li {
  padding: 18px 0;
}

ul.my-plants-cards li h2,
ul.my-plants-cards li p {
  margin-block-end: 0.6rem;
}

/* Edit and Log */
section.edit-and-log {
  padding: 18px;
}

/* New Log */
form.new-log {
  margin: 12px 0 18px;
}

form.new-log textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  font-family: inherit;
  margin-top: 6px;
  margin-bottom: 2px;
  min-height: 90px;
}

/* Log History */
section.log-history {
  margin: 18px 0;
}

section.log-history h2 {
  margin-block-end: 0.6rem;
}
section.log-history ul li {
  margin-block-end: 0.6rem;
}

/* Edit tasks */
section.edit-tasks {
  margin: 18px 0;
}

section.edit-tasks h2 {
  margin-top: 12px;
}

/* task Frequency */
section.edit-tasks h2 {
  margin-block-end: 0.6rem;
}

section.edit-tasks form.task-frequency {
  padding-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

section.edit-tasks form.task-frequency div {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: #e1e1e1;
  border-radius: 5px;
}

section.edit-tasks form.task-frequency input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  border-radius: 50%;
  background-clip: content-box;
  padding: 2px;
  margin-right: 5px;
}

section.edit-tasks form.task-frequency input[type="radio"]:checked {
  background-color: #333;
}

/* Add Tasks */
section.edit-tasks form.add-tasks {
  padding: 18px 0;
}

section.edit-tasks form.add-tasks > button {
  padding: 10px 15px;
  background: #e1e1e1;
  border: none;
  border-radius: 5px;
  margin-bottom: 9px;
}

section.edit-tasks form.add-tasks button span {
  font-weight: 600;
  margin-left: 3px;
}

section.edit-tasks form.add-tasks .add-another-task {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

section.edit-tasks form.add-tasks .add-another-task input[type="text"] {
  border: 1px solid #333;
  min-width: 300px;
  border-radius: 4px;
}

section.edit-tasks form.add-tasks p {
  opacity: 0.5;
}

/* Edit and Log - remove button and more info button */
section.edit-and-log button.remove-from-my-plants {
  margin-bottom: 18px;
}

section.edit-and-log button.more-info-on-plant {
  margin-top: 18px;
}

/* View All Plants */
section.all-plants {
  margin: 18px 15px;
}

/* Search For Plant */
form.search-for-plant {
  border: 1px solid #333;
}

form.search-for-plant input[type="search"],
form.search-for-plant button {
  border: none;
  font-size: 1rem;
  padding: 10px;
}

form.search-for-plant input[type="search"] {
  width: calc(100% - 50px);
}

form.search-for-plant button {
  width: 50px;
  background: none;
}

/* Sort Filter Flex */
.sort-filter-flex {
  display: flex;
  width: 100%;
  gap: 10px;
}

/* Sort Plants */
form.sort-plants {
  width: 50%;
}

form.sort-plants select {
  margin-top: 9px;
  width: 100%;
  border: 1px solid #333;
  padding: 10px;
}

/* Filter Plants */
form.filter-plants {
  width: 50%;
}

form.filter-plants select {
  margin-top: 9px;
  width: 100%;
  border: 1px solid #333;
  padding: 10px;
}

/* Plant Cards */
section.plant-cards {
  margin-top: 18px;
}

ul.plant-cards li.single-plant-container {
  background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0px 2px 2px #f1f1f1;
}

ul.plant-cards li.single-plant-container a > div {
  padding: 18px 15px 12px;
  display: flex;
  gap: 10px;
}

ul.plant-cards li.single-plant-container a > div .votes {
  margin-top: 4px;
}

ul.plant-cards li.single-plant-container h2 {
  text-transform: capitalize;
}

ul.plant-cards li.single-plant-container p:last-of-type {
  margin-block-end: 0;
}

ul.plant-cards li.single-plant-container p i {
  color: #666;
}

ul.plant-cards li.single-plant-container .plant-description {
  margin: 3px 0;
}

ul.plant-cards li.single-plant-container img {
  background: white;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
}

.plant-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Pagination */

section.pagination {
  justify-content: space-around;
  display: flex;
  padding: 1rem;
  padding-right: 7rem;
  padding-left: 7rem;
}

section.pagination button {
  border: 1px solid #333;
  font-size: 1rem;
  padding: 0.2rem;
}

section.pagination p {
  font-size: 1rem;
  padding: 0.2rem;
}

/* AddPlants Button */

.set-plant-date {
  padding: 10px 15px 18px;
  background: #ddd;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-in {
  padding-bottom: 12px;
}

.add-plant-button {
  background: #333;

  border-radius: 15px;
  cursor: pointer;
  height: auto;
  width: 3rem;
}

#plant-date {
  cursor: pointer;
  padding: 5px;
  margin-top: 3px;
}

/* Install Button */
.install-btn {
  color: black;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem;
}

/* .install-btn:hover,
.install-btn:focus {
  scale: 1.1;
  transition: all 0.2s ease-out;

} */

.install-btn-text {
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  padding: 0.5rem;
  height: 2rem;
  margin: 0rem;
  border: 0rem;
}

.install-btn-img {
  border-radius: 0rem 0.3rem 0.3rem 0rem;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  margin-left: 0.5rem;
  /* border: 0.1rem solid var(--light-teal); */
  /* border-radius: 25px; */
  /* width: 60vw; */
  background-color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.input-field label {
  font-size: 1rem;
}

.input-field svg {
  height: 1.6rem;
  width: 1.6rem;
}

.login-error-message {
  text-align: center;
  color: rgb(156, 0, 0);
  padding-top: 0.5rem;
  position: relative;
  margin-left: 40px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.password-instructions {
  text-align: left;
  color: rgb(0, 0, 0);
  padding-top: 0.5rem;
  position: relative;
  margin-left: 40px;
}

.request-waiting-message {
  text-align: center;
  padding-top: 1rem;
}

#username-input,
#password-input,
#location-input,
#first-name-input,
#last-name-input,
#settings-username,
#settings-first-name,
#settings-surname,
#settings-password,
#settings-profile {
  border: 1px solid #333;
  margin-top: 0.5rem;
  font-size: 1rem;
  padding: 0.2rem;
  margin-left: 35px;
  padding: 10px;
}

.label {
  text-align: left;
  font-size: 1.2rem;
}

.image-div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--pale-yellow);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-image {
  position: relative;
  top: 10%;
}

.submit-button {
  display: block;
  padding: 1em;
  background: var(--lime-green);
  border: 1px solid var(--light-teal);
  border-radius: 30px;
  font-size: 1rem;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover,
.submit-button:focus {
  scale: 1.1;
  background-color: #93c499;
}

.input-img {
  height: 1.3rem;
  width: 1.3rem;
  position: absolute;
  top: 3.05rem;
}

.password-eye {
  height: 1.1rem;
  position: absolute;
  top: 3.2rem;
  right: 1.6rem;
}

.sign-up-text {
  text-decoration: underline;
  margin-top: 9px;
}

.edit-form {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 8.5rem;
  width: 90vw;
  display: block;
  left: 5vw;
  border-radius: 20px;
  opacity: 0.95;
}

.edit-form-item {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 1rem;
}

.edit-btn {
  grid-area: 1 / 3 / 1 / 3;
  font-size: 1rem;
  color: var(--dark-teal);
  width: 30%;
  position: relative;
  right: 0.75rem;
  border-radius: 0px 5px 5px 0px;
  border: 0.1rem solid grey;
  background-color: rgb(238, 238, 238);
}

.edit-btn-cancel {
  grid-area: 1 / 3 / 1 / 3;
  font-size: 1rem;
  color: var(--dark-teal);
  width: 11%;
  height: 1.7rem;
  position: absolute;
  right: 1rem;
  border: 0.1rem solid grey;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(238, 238, 238);
}

.edit-label {
  grid: 1 / 1 / 1 / 1;
  font-size: 1.3rem;
  position: relative;
  text-align: center;
  padding-right: 1rem;
}

#edit-username,
#edit-firstname,
#edit-surname,
#edit-password,
#edit-profileurl {
  grid: 1 / 2 / 1 / 2;
  border: 1px solid var(--light-teal);
  border-radius: 5px;
  display: block;
  padding: 0.2rem;
  padding-left: 0.7rem;
  font-size: 1rem;
  padding-right: 1rem;
}

.settings-background {
  width: 100vw;
  height: 100vh;
}

.toggle-options {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 22rem;
  border-radius: 20px;
  padding: 0.6rem;
  width: 60vw;
  left: calc(50% - 30vw);
  box-sizing: border-box;
}

.toggle-option {
  display: flex;
  height: 50px;
}

.label-text {
  position: relative;
  top: 1.3rem;
  left: 4rem;
  font-size: 1rem;
}

.toggle-label {
  position: absolute;
  display: block;
  margin-left: 1rem;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  right: 4rem;
  width: 60px;
  height: 34px;
}

#notifications-switch {
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  outline: 1px solid blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

.user-btn-container {
  position: relative;
  top: 24rem;
  display: flex;
  justify-content: space-around;
}

.settings-logout-btn {
  background-color: #93c499;
  font-size: 1rem;
  padding: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  border: 0.1rem solid black;
  border-radius: 10px;
}

.settings-delete-account-btn {
  background-color: #93c499;
  font-size: 1rem;
  padding: 0.5rem;
  width: 8rem;
  height: 2.5rem;
  border: 0.1rem solid black;
  border-radius: 10px;
}

.review-app-button {
  box-sizing: border-box;
  border: 0.1rem solid black;
  border-radius: 20px;
  position: absolute;
  top: 41rem;
  background-color: #93c499;
  padding: 1.5rem;
  font-size: 1.2rem;
  width: 15rem;
  left: calc(50% - 7.5rem);
}

.review-app-button:hover,
.settings-delete-account-btn:hover,
.settings-logout-btn:hover {
  scale: 1.1;
}

.settings-not-found-message {
  position: relative;
  text-align: center;
  top: 10rem;
  font-size: 1.2rem;
  width: 60vw;
  left: calc(50% - 30vw);
  padding: 0.5rem;
  border: 0.1rem solid black;
}

.modal {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 175px);
  width: 350px;
  height: 200px;
  background-color: #93c499;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 2rem;
  border-radius: 5px;
}

.modal-input-container {
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 1.3rem;
}

#confirm-password {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

#confirm-password-text {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
}

.modal-btn-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.modal-cancel-btn {
  padding: 0.2rem;
  border: 0.01rem solid black;
  border-radius: 2px;
  font-size: 1rem;
}

.modal-confirm-btn {
  padding: 0.2rem;
  background-color: rgb(255, 199, 199);
  border: 0.01rem solid black;
  border-radius: 2px;
  font-size: 1rem;
}

.modal-confirm-btn:hover {
  background-color: rgb(255, 138, 138);
  transition: all 0.2s ease-out;
}

.modal-delete-account-waiting-msg {
  text-align: center;
}

.modal-password-err {
  text-align: center;
  position: relative;
  bottom: 10px;
  color: rgb(122, 0, 0);
}

.reached-the-end-of-plants {
  padding: 3rem;
  text-align: center;
  font-size: 1rem;;
}

/* Toggle Visibility */
.invisible {
  display: none !important;
}

@media only screen and (min-width: 900px) {
  .input-field {
    width: 40vw;
  }
}

@media only screen and (max-width: 550px) {
  /* .input-field {
    width: 85vw;
  } */

  .label-text {
    left: 1rem;
  }

  .toggle-label {
    right: 1rem;
  }

  .edit-form-item {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .edit-label {
    font-size: 0.9rem;
    top: 0.15rem;
  }

  .edit-btn {
    grid-area: 1 / 3 / 1 / 3;
    font-size: 0.7rem;
    color: var(--dark-teal);
    width: 45%;
    position: relative;
    right: 0.75rem;
    border-radius: 0px 5px 5px 0px;
    border: 0.1rem solid grey;
    background-color: rgb(238, 238, 238);
  }

  .edit-btn-cancel {
    font-size: 0.7rem;
    right: -1rem;
    width: 11%;
  }
}

/* Install Button */
@media all and (display-mode: standalone) {
  .install-btn {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

/* Single Plant */
section.single-plant {
  margin: 18px 15px;
}

section.single-plant h2 {
  text-transform: capitalize !important;
}

section.single-plant img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 9px 0;
}

section.single-plant .line-break {
  margin: 18px 0;
}

.p-data-missing {
  margin: 5px 0px;
}

/* Data Table */
ul.data-table {
  margin: 12px 0;
}

ul.data-table li {
  padding: 5px;
  background: #f1f1f1;
}

ul.data-table li:nth-of-type(even) {
  background: none;
}

/* Post Comment */
form.post-comment {
  margin: 12px 0;
}

form.post-comment input[type="textarea"] {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  min-height: 90px;
  margin-bottom: 5px;
  margin-top: 6px;
}

/* Comments */
ul.comment-list li {
  display: flex;
  border-bottom: 1px solid #999;
  padding: 18px 0;
  gap: 10px;
}

ul.comment-list li:last-of-type {
  border-bottom: none;
}

ul.comment-list li .avatar div {
  border: 1px solid #333;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

/* Login Form */
form.login-form {
  background: #f1f1f1;
  margin: 18px 15px;
  border-radius: 5px;
  padding: 18px 15px 27px;
  text-align: center;
}
.my-plant-container {
  width: 100%;
  padding: 18px 15px;
  background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  gap: 10px;
}

.my-plant-container {
  text-transform: capitalize;
}

.my-plant-container div {
  width: calc(100% - 30vw);
  display: flex-column;
}

.my-plant-container div button {
  margin-top: 45px;
}

.my-plant-container div h2 {
  margin-bottom: 4px;
}

.my-plant-container img {
  max-width: 30vw;

}