body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --super-pale:  #f0fffc;
  --pale-yellow: #d4f7d3;
  --lime-green: #9CD1A2;
  --bright-green: #1ec765;
  --light-teal: #44838C;
  --med-teal: #162C45;
  --dark-teal: #08102E;
  --orange-accent: rgba(255, 183, 0, 0.803);
}